/* Animations
/* ---------------------------------------------------------- */

.transition-fade {
    transition: 0.35s;
    opacity: 1;
    animation: slideUp 1.1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translate3d(4, 6vh, 0);
}
html.is-animating .transition-fade {
    opacity: 0;
}

@keyframes slideUp {
  0% {
    transform: translate3d(0, 6vh, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
