
html, body, div, main {
    margin: 0;
    padding: 0;
    font-family: "Yantramanav", Helvetica, Arial, sans-serif;;
  }

  .left-div {
    float: left;
    width: 25%;
    background-color: black; /* Replace with your desired background color */
    height: 100vh;
  }
  
  .logo-container{
      position: fixed;
      left: 0;
      top: 0px;
      z-index: 10;
      width: 200px;
      height: 177px;
      margin-top: 16px;
      padding-left: 36px;
      padding-top: 2px;
      background: rgb(75, 213, 255);
  }
  
  /* Add the styles for the right-div container */
  .right-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 75%;
    height: 100vh;
    --bg-color: #616161; /* Default background color for .right-div */
    background-color: var(--bg-color);
    background-image: var(--bg-image); /* Use CSS variable to set the background image */
    background-size: cover;
    transition: background-image 1.1s ease, background-color 0.3s ease; /* Transition effect */
  }
  
  
  
  /* Add the styles for the navigation container */
  .navigation-container {
    /* display: flex; */
    flex-direction: column;
    align-items: flex-end; /* Align the content to the right side */
    margin-left: auto; /* Push the container to the right side */
    padding-right: 20px;
    height: 30vh;
  }
  
  .highlight-word {
    font-weight: bold; /* Change the font-weight to bold */
    color: rgb(75, 213, 255); /* Change the color to the desired color */
  }
  
  /* Add the styles for the vertical navigation */
  .vertical-nav {
    display: flex;
    flex-direction: column;
    width: 100%; /* Adjust this width as needed */
    max-width: fit-content;
    top: auto;
  }
  
  .navigation-heading{
    font-family: 'Roboto Mono', sans-serif;
      color: #fff;
      text-align: right;
      letter-spacing: 2px;
      font-weight: 100;
      font-size: 30px;
  }
  
  /* Style the navigation items (list items) */
  .vertical-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Adjust the li elements to have position: relative */
  .vertical-nav li {
    padding: 10px;
    cursor: pointer;
    position: relative; /* Add this line */
    z-index: 10;
    font-size: 35px;
    font-weight: 600;
    text-align: right;
    margin: 0;
    line-height: 1em;
  }
  
  /* Add the blue rectangle pseudo-element */
  .vertical-nav li::after {
    content: "";
    position: absolute;
    right: 0;
    top: 2.5vh;
    height: 40px; /* Height of the blue rectangle */
    background-color: black; /* Blue color for the rectangle */
    transform: scaleX(0); /*Initial scaleX to hide the rectangle */
    transform-origin: right;
    transition: transform 0.3s ease; /* Transition effect for the rectangle */
    z-index: -1;
  }
  
  .vertical-nav li:nth-child(1)::after {
    
      width: 300px;
  }
  
  .vertical-nav li:nth-child(2)::after {
    width: 170px;
  }
  
  .vertical-nav li:nth-child(3)::after {
    width: 375px;
  }
  
  .vertical-nav li:nth-child(4)::after {
    width: 475px;
  }
  
  /* Show the blue rectangle when hovering over the section link */
  .vertical-nav li:hover::after {
    transform: scaleX(1);
  }
  .vertical-nav li a {
    text-decoration: none;
    color: #dbdbdb; /* Replace with your desired link color */
    /* Add any other styling for the navigation links */
    z-index: 100;
    transition: color 0.3s ease;
  }
  
  .vertical-nav li a:hover {
    color: rgb(75, 213, 255);
  }
  
  .hero-section{
      display: flex;
      width: 90%;
      min-height: 200px;
      margin-right: auto;
      margin-left: auto;
      padding-top: 180px;
  }
  
  .hero-left{
      position: absolute;
      top: 0px;
      z-index: 1;
      width: 636px;
      align-self: flex-start;
      padding-top: 200px;;
  }

  .hero-left h2{
    font-size: 30px;
  }
  
  .hero-left p{
    font-family: 'Playfair Display', sans-serif;
    color: white;
    line-height: 43px;
    font-weight: 300;
    font-size: 25px;
  }
  
  .p-2{
    font-weight: 400;
  }
  
  