.groups-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
  }

  .groups-container a{
    text-align: center;
  }
  
  .group-container {
    padding: 60px 0;
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }

  .group-container p, ul{
    font-size: 1.2em;
    color: #5c5c5c;
    margin-bottom: 10px;
  }

  .group-container li{
    margin: 0.1em 0;
  }

  .group-container ul{
    font-size: 1.2em;
    color: #5c5c5c;
    margin-bottom: 20px;
  }

  .group-container h2{
    margin-top: 0;
    font-size: 1em;
    line-height: 19px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: var(--color-primary);
  }

  .groups-a{
    text-align: center;
    /* padding-top: 25px; */
    font-size: 25px;
    padding-top: 20%;
    padding-bottom: 5%;
  }

  .groups-a button {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    height: 2.5em;
    width: 10em;
    border-radius: 18px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .groups-a button:hover {
    background-color: white;
    color: var(--color-primary);
  }

  .groups-a a:hover{
    text-decoration: none;
    color: var(--color-primary);
  }

  
  .group-content {
    position: relative;
    /* flex: 1 1; */
    order: 1;
    padding-left: 45px;
    width: 75%;
  }

  .studies-div{
    padding-top: 12%;
  }

  .vert-divider{
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 2px;
    height: 109px;
    margin-top: 10px;
    background-color: #a4a4a4;
  }

  .vert-divider.right{
    left: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
  }
  
  .group-image {
    flex: 1;
    order: 0;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 25%;
  }
  
  .group-image img {
    max-width: 100%;
    
  }

  .group-content.right{
    padding-right: 45px;
    padding-left: 0px;
  }
  
  .group-container.reverse .group-content {
    order: 0;
    text-align: right;
  }
  
  .group-container.reverse .group-content h2,
  .group-container.reverse .group-content p {
    text-align: right;
  }  

  .ul-reverse{
    width: 60%;
    text-align: left;
    float: right;
  }
  
  .group-container.reverse .group-image {
    order: 1;
    text-align: left;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
  }
  
  .group-container:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .group-container:not(:last-child)::after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: black;
    margin-left: 20px;
  }

  .section-h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
  }

  @media (max-width: 1200px) {
    .groups-container {
      width: 100%;
    }
  }  


/* ---------- change colors */

/* Colors */
.color-default {
  background-color: #a3daeb;
}

.color-violet {
  /* background-color: var(--color-primary); */
  background-color: #4e8595;
}

.color-white {
  background-color: #ffffff;
}

.color-default, .color-violet, .color-white {
  transition: background-color 0.6s ease;
  transition-delay: 0.25;
}


/* ---------modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
}

.modal-content button {
  margin-top: 16px;
}



  