
html, body, div, main {
    margin: 0;
    padding: 0;
    font-family: "Yantramanav", Helvetica, Arial, sans-serif;
  }

  .left-div {
    float: left;
    width: 25%;
    background-color: black; /* Replace with your desired background color */
    height: 100vh;
  }
  
  .logo-container{
      position: fixed;
      left: 0;
      top: 0px;
      z-index: 10;
      width: 100px;
      height: 73px;
      margin-top: 20px;
      padding-left: 36px;
      padding-top: 2px;
      background: rgb(75, 213, 255);
  }
  
  /* Add the styles for the right-div container */
  .right-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 75%;
    height: 100vh;
    --bg-color: #000000; 
    background-color: var(--bg-color);
    background-image: var(--bg-image); /* Use CSS variable to set the background image */
    background-size: cover;
    transition: background-image 1.1s ease, background-color 0.3s ease; /* Transition effect */
  }
  
  /* Add the styles for the navigation container */
  .navigation-container {
    /* display: flex; */
    flex-direction: column;
    align-items: flex-end; /* Align the content to the right side */
    margin-left: auto; /* Push the container to the right side */
    padding-right: 20px;
    height: 30vh;
  }
  
  .highlight-word {
    font-weight: bold; /* Change the font-weight to bold */
    color: rgb(75, 213, 255); /* Change the color to the desired color */
  }
  
  /* Add the styles for the vertical navigation */
  .vertical-nav {
    display: flex;
    flex-direction: column;
    width: 100%; /* Adjust this width as needed */
    max-width: fit-content;
    top: auto;
  }
  
  .navigation-heading{
    font-family: 'Roboto Mono', sans-serif;
      color: #fff;
      text-align: right;
      letter-spacing: 2px;
      font-weight: 100;
      font-size: 30px;
  }
  
  /* Style the navigation items (list items) */
  .vertical-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Adjust the li elements to have position: relative */
  .vertical-nav li {
    padding: 10px;
    cursor: pointer;
    position: relative; /* Add this line */
    z-index: 10;
    font-size: 35px;
    font-weight: 600;
    text-align: right;
    margin: 0;
    line-height: 1em;
  }
  
  /* Add the blue rectangle pseudo-element */
  .vertical-nav li::after {
    content: "";
    position: absolute;
    right: 0;
    top: 2.5vh;
    height: 40px; /* Height of the blue rectangle */
    background-color: black; /* Blue color for the rectangle */
    transform: scaleX(0); /*Initial scaleX to hide the rectangle */
    transform-origin: right;
    transition: transform 0.3s ease; /* Transition effect for the rectangle */
    z-index: -1;
  }
  
  .vertical-nav li:nth-child(1)::after {
    
      width: 300px;
  }
  
  .vertical-nav li:nth-child(2)::after {
    width: 170px;
  }
  
  .vertical-nav li:nth-child(3)::after {
    width: 475px;
  }
  
  .vertical-nav li:nth-child(4)::after {
    width: 375px;
  }
  
  /* Show the blue rectangle when hovering over the section link */
  .vertical-nav li:hover::after {
    transform: scaleX(1);
  }
  .vertical-nav li a {
    text-decoration: none;
    color: #dbdbdb; /* Replace with your desired link color */
    /* Add any other styling for the navigation links */
    z-index: 100;
    transition: color 0.3s ease;
  }
  
  .vertical-nav li a:hover {
    color: rgb(75, 213, 255);
  }
  
  .hero-section{
      display: flex;
      width: 85%;
      min-height: 200px;
      margin-right: auto;
      margin-left: auto;
      padding-top: 180px;
  }
  
  .hero-left{
      position: absolute;
      top: 0px;
      z-index: 1;
      width: 636px;
      align-self: flex-start;
      padding-top: 220px;;
  }

  .hero-left h2{
    font-size: 30px;
    color: var(--color-sub-base);
  }
  
  .hero-left p{
    font-family: 'Playfair Display', sans-serif;
    color: white;
    line-height: 43px;
    font-weight: 300;
    font-size: 25px;
  }
  
  .p-2{
    font-weight: 400;
  }

  .mobile-disc{
    display: none;
  }

  .main-hr{
    height: 2px;
    width: 50%;
    position: fixed;
    left: 0;
    bottom: 10vw;
    background-color: var(--color-primary);
    transition: margin-left 0.9s ease; 
  }

  .recede {
    margin-left: -100%; /* Adjust this value as needed to move the <hr> off the screen */
  }

  /* case mobile buttons */
  .case-button {
    min-width: 130px;
    width: 80%;
    text-align: left;
    height: 30px;
    color: #fff;
    height: 30px;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 0;
    border: 2px solid #41c9f3; 
    border-right: none;
    border-top: none;
    border-bottom: none;
    box-shadow: 0 0 var(--color-bg-dark);
  }
  .case-button:hover {
    box-shadow: 0 3px #adb5bd;
    top: 1px;
  }
  .case-button:active {
    box-shadow: 0 0 #adb5bd;
    top: 5px;
  }

  @media (max-width: 850px) {
    .left-div {
      float: none;
      width: 100%;
      /* height: 50vh; */
    }
    /* .right-div{
      width: 100%;
      height: 50vh;
      justify-self: unset;
      flex-direction: unset;
    } */
    .logo-container{
      width: 90px;
      height: 60px;
    }
    .right-div{
      display: none;
    }
.main-hr{
  display: none;}

    .hero-left{
      padding-top: 140px;
      width: auto;
      padding-right: 20px;
    }
    .hero-left h2{
      display: none;
    }
    .hero-left p{
      font-size: 20px;
    }
    .vertical-nav li {
      font-size: 25px;
    }
    .navigation-heading{
      font-size: 15px;
    }
    .mobile-disc{
      display: block;
      margin: 10% 0;
    }
  }
  
  