/* Add this to your CSS stylesheet */
.circle-overlay {
    width: 100px;
    height: 100px;
    background-color: var(--color-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure it's above the text */
    color: white; /* Text color */
    font-weight: bold; /* Text boldness */
    font-size: 12px; /* Text size */
  }

  .view-project-text {
    text-align: center; /* Center align the text horizontally */
    position: absolute; /* Position the text absolutely */
    top: 50%; /* Center the text vertically */
    left: 50%; /* Center the text horizontally */
    font-size: 18px;
    line-height: 0.95;
    text-transform: uppercase;
    transform: translate(-50%, -50%); /* Center the text precisely within the circle overlay */
  }
  